header{
    background-color: black;
    color:azure;
    margin:0px;
    padding:50px;
    
}
.wrap {
    display: flex;
    }
    
    .content {
    flex: 1; /* Equal width for all columns */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    }
 .wrap{
    background-color: burlywood;
    color: black ;
 }   
 h2{
    color: red;
 }